.panel{
    background-color: lightgray;
    text-align: center;
    padding: 1px;
}

.col-md-6{
    padding-top: 50px;
    padding-bottom: 10px;
}

#overflow{
    overflow-y: scroll;
    overflow-x: hidden;
}

.line{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: inset;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
}

ol {
    list-style-type:none;
    background-color: #f2f2f2;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){background-color: #f2f2f2}

.contact-head{
    background-color: #408ec9;
    text-align: center;
    padding: 10px;
    font-family: 'Archivo Black', sans-serif;
}

#map{
    width: 100%;
    height: 400px;
}

#coordinates{
    margin-left: 5px;
}

.footer{
   /* height: 100px; */
   background-color: #408ec9;
   text-align: center;
   padding: 20px;
   margin-top: 5px; 
   display: block;
}

.fa {
    padding: 30px;
    font-size: 80px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}