.well{
  text-align: center;
}

/* container */
.container{
  background-color: lightgray;
  padding: 10px;
  text-align: center;
  /* margin: 15px; */
  border: 2px solid #ccc;
  border-radius: 5px;
  position: relative;
}

/* float image left */
.container img{
  float: left;
  border-radius: 50%;
  margin-left: 30px;
  display: block;
}

.container span{
  font-size: 20px;
}

.text{
padding: 50px;
}